<!DOCTYPE html>
<html>
<head>
  <title>TourismApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="center" style="margin-top: 180px; border:none ;padding-left: 280px;">
    <%= yield %>
  </div>
</div>
</body>
</html>